body {
    background-image: 
        url(../images/sport_background.jpg);
        background-size: cover;
    font-family: 'Archivo Black', sans-serif;
    
}

#addButton {
    background-color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 4px;
    border-color: #555555;

}

#sport-input {
    border-radius: 4px;
    border-color: #555555;

}

#addSport {
    background-color: white;
    border-color: #555555;
    margin: 20px;
    border-radius: 4px;

}